.notes-container{

    width: 94%;
    margin: 0 auto;
    margin-top: 31rem;
    padding: 1rem;

    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    gap: 1rem;

    @media (max-width: 988px){
        width: 100%;
        grid-template-columns: repeat(2 , 1fr);
    }

    @media (max-width: 510px){
        grid-template-columns: 1fr;
    }
}