
.search-box{

    display: inline-block;
    position: absolute;
    top: 18rem;
    left: 50%;
    transform: translate(-50%);

    width:30rem;
    height: 3rem;
    margin: .58rem;
    padding: .48rem ;
    background:#ffffff;
    border-radius: 1rem;
    border: 1.8px solid #aac5c5;
    transition: all 0.2s ease-in;

    &:focus{

        outline: none;
        border: 1.48px solid #165353;
    }

    @media (max-width:360px){
        width: 80%;
    }

    &::placeholder{

        text-transform: lowercase;
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: .1rem;
    }
    
}