.form {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 34rem;

    @media (max-width:410px)
    {
        width: 90%;
    }

    &__field {

        width: 100%;
        margin: 1rem 0;
        
    
        &--label , &--input {
    
            display: block;
            padding: .8rem;
        }
    
        &--label {
    
            text-transform: lowercase;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .31rem;
            color: #113020;
        }
    
        &--input{
            width: 100%;
            outline: none;
            border:1px solid #26757a;
            transition: all 0.1s ease-in;
            border-radius: .4rem;
            
            &::placeholder {
    
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: .2rem;
                text-transform: lowercase;
            }
    
            &:focus{
    
                border: 2px solid #ddeee5;
            }

            &-image {
                cursor: pointer;
            }
        }


    }

    &__button {

        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin-top: 3.1rem;
        padding:.8rem;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 1.4rem;
        font-weight: 700;
        letter-spacing: .14rem;
        background: #fff;
        color: #0b0d22;
        border: 1px solid #123a26;
        transition: all 0.2s ease-in;
    
        &:hover{
            background: #20554c;
            color: #f0f0f0;
        }
    
        &--arrow {
            height: 1.8rem;
            margin-left:1rem;
        }
    }
}